{
  "listSize": 500,
  "listDir": "data/",
  "bugzillaKey": "",
  "githubKey": "",
  "currentDocPath": ".",
  "ignoredDomains": [
    "github.com",
    "github.io",
    "redd.it",
    "t.co"
  ],
  "ignoredGitHubAccounts": [
    "softvision-oana-arbuzov",
    "softvision-sergiulogigan",
    "cipriansv"
  ],
  "ignoredQADomain": "@softvision",
  "ignoreFenix": true,
  "maxDate": null,
  "minDate": "2018",
  "startingSpreadsheetId": null,
  "writers": [
    "user@example.com"
  ]
}
