{
  "listSize": 500,
  "listDir": "data/",
  "bugzillaKey": "",
  "githubKey": "",
  "ignoredDomains": [
    "github.com",
    "github.io",
    "t.co"
  ],
  "maxDate": null,
  "writers": [
    "user@example.com"
  ]
}
